asciitree==0.3.3
entrypoints==0.4
fasteners==0.18
fsspec==2023.6.0
kerchunk==0.1.2
numcodecs==0.11.0
numpy==1.23.5
packaging==23.1
pandas==2.0.3
python-dateutil==2.8.2
pytz==2023.3
six==1.16.0
tzdata==2023.3
ujson==5.8.0
xarray==2023.6.0
zarr==2.15.0
